$beige: #faf3dd;
$pale-silver: #c8d5b9;
$green-blue: #8fc0a9;
$light-blue: #68b0ab;
$dark-green: #4a7c59;

body {
  background-color: $pale-silver;
  color: $dark-green;
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Montez', cursive;
  font-size: 2.5em;
}
select{
  max-width: 80%;
}
.jumbotron{
  background-color: $dark-green;
  color: $beige;
  font-family: 'Montez', cursive;
  font-size: 2.5em;
  text-align: center;
}

.container {
  background-color: $dark-green;
  border-radius: 10px;
}
.content {
  background-color: $beige;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.input-lg {
  min-width: 80%;
}
.selected {
  color: $light-blue;
}
.sub {
  background-color: $dark-green;
  border-radius: 50%;
  color: #fff;
  font-size: .8em;
  margin: 15px;
  min-height: 50px;
  padding:10px;
  text-align: center;
}
